
*{
    box-sizing: border-box;
}
body {
    --whitecolor : rgb(255 255 255);
    --lightgrey : rgb(243 243 243) ; 
    --darkblue : rgb(6 65 115) ;
    --largeText : 1.8rem ;
    --mediumText : 1.4rem;
    --smallText : 1.2rem ; 
    --lightblue : #eef3ff ; 
    font-size: var(--smallText);
    
}
p{
    margin: 0px;
    padding: 0px;
}

.main{
    background-color: var(--lightgrey);
    height:100vh;
}
.header{
    padding: 0.25em;
    font-size: var(--largeText) ;
    background-color: var(--whitecolor);
}   
.nav-list{
    margin: 1rem;
    background-color: var(--whitecolor);
    padding: 1rem;
    text-decoration: underline var(--darkblue);
    text-underline-offset: 6px;
}
.main-content {
    margin: 1rem;
    background-color: var(--whitecolor);
    padding: 1rem;
    padding-top: 0.1rem;
 
}
.timesheet-details{
    margin: 1rem;
    background-color: var(--whitecolor);
}

.timesheet{

}
.timesheet-heading{
    font-size: var(--mediumText);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin:1rem 0px;
}
.submit-status{
    font-size: var(--smallText);
}

.entries{

}
.entry-heading{
    display: flex;
    background-color: var(--lightblue);
    padding: 1rem;
}
.eh{
    padding: 0px 0.25rem;
    color: var(--darkblue);
    position: relative;
    font-weight: 500;
    font-size: var(--mediumText);
    text-align: center  ;
}
.important::after{
    font-family: "Font Awesome 5 Free";
    content: "\f005";
    
    color: red;
    font-size: 0.5rem;
    position: absolute;
    bottom: 70%;
}
.type{
    width: 5%;
}
.activity,.task{
    width: 15%;
    height: max-content;

}
.task-details{
    width: 25%;
    height: max-content;

}
.start-time,.end-time{
    width: 12.5%;
    position: relative;
}
.duration{
    width: 10%;
 
}

.action{
    width: 5%;
}

.entry{
    
}

.user-form {

}

.user-entry{
    padding:0.5rem 0rem;
    color: var(--darkblue);
    display: flex;
    align-items : center;
}

.user-type{
display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--mediumText);

}
.user-activity{
 width: 90%;
 padding: 0.5rem;

}

.user-task{
    width: 90%;
    padding: 0.5rem;
}
select,option{
    font-size: var(--smallText);
    color: var(--darkblue);

}
.task-details-text{
height: 60px;
width: 90%;
font-size: var(--smallText);
}
.task-details-word-count{
   display: flex;
    flex-direction: row-reverse;
    margin-right: 20px;
    justify-content: space-between;
}

.start-time-display,.end-time-display,.duration-display{
    border: 1px solid grey;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 90%;
    height: 40px;
}
.duration-display{
    font-size: var(--smallText);
    text-align: center;
}
.start-time-display::placeholder,.end-time-display::placeholder{
    font-size: var(--smallText);
}

.time-dropdown{
    position: absolute;
 top: 100%; 
 padding: 1rem;
 display: flex;
 align-items: center;
 gap: 3px;
 justify-content: center;
 display: none;
 z-index: 2;
}
.start-time-dropdown,.end-time-dropdown{
  background-color: var(--lightgrey);
  margin: 0.5rem;
}
.start-time-hours,.start-time-minutes,.end-time-hours,.end-time-minutes,.start-time-meridian,.end-time-meridian{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    font-size: 1.3rem;
}
.arrow:hover{
    background-color: aqua;
}
.delete{
    margin-left: 1rem;
}
.add-new-entry{
    text-align: center;
    padding: 0.6rem;
    border: 1px solid grey;
}
.buttons-div{
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px   ;
}

.btn{
     padding: 0.5rem;
     font-size: var(--mediumText);
       background-color: var(--darkblue);
       color: white;
       border: 1px solid var(--darkblue);
}
.cancel-btn{
    background-color: var(--lightblue);
    color: black;
}
.error-message{
    color: red;
     display: none;
     font-size: 1rem;
}
.show-error-message{
    display: block;
}

